<!DOCTYPE html>
<!--It's a best practice to always declare DOCTYPE!-->
<html lang="en">
  <head>
    <title>Aligning text </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <header>
    <h1>Welcome to my Control Application<h1>
  </header>
  <body>
    <h3>Here are your options :</h3>
    <section id="All_lights">LED Control
      <form action="" method="post">
        <input type="submit" name="TURN_ON" value="TURN_ON">
        <input type="submit" name="TURN_OFF" value="TURN_OFF">
        <input type="submit" name="READ" value="READ">
      </form>
    </section>
  </body>
</html>